﻿@model IEnumerable<Database.tbl_Delivery_Package>

@{
    ViewBag.Title = "Index";
}

<h2>Delivery Options</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fld_title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fld_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fld_Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fld_Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
