﻿@model IEnumerable<Database.tbl_gk_Product>
@{
    string img;
}
<table id="tblProduct" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Category</th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Image
            </th>
            <th>
                CreateAt
            </th>
            <th>
                UpdateAt
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tbl_gk_Category.fld_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Description)
                </td>
                <td>
                    £ @Math.Round(Convert.ToDecimal(item.fld_Price))

                </td>
                <td>
                    @{
                        if (!string.IsNullOrEmpty(item.fld_Images))
                        {
                            var imagelist = item.fld_Images.Split(',');
                            if (imagelist.Length > 0)
                            {
                                img = imagelist[0];
                                <img src="@Url.Content("Images/Product/" +  img)" width="100" height="100" />
                            }
                        }
                        else
                        {
                            <img src="@Url.Content("Images/Product/test")" width="100" height="100" />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_CreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_UpdateAt)
                </td>
                <td>
                    <input type="button" value="Update Product" class="btn btn-primary btn-sm" onclick="UpdateProduct('@item.Id','@item.fld_Name','@item.fld_Description','@item.fld_Price','@item.fld_Width','@item.fld_Color','@item.fld_Style','@item.fld_Pattern','@item.fld_Quentity','@item.fld_CategoryId','@item.fld_Images','@item.fld_Material','@item.fld_ItemCode','@item.fld_Option')" />
                    <input type="button" value="Delete Product" class="btn btn-danger btn-sm" onclick="DeleteProudct('@item.Id')" />

                </td>
            </tr>
        </tbody>
    }

</table>
