﻿
@model GkTiesBackend.ViewModels.ProductViewModel



@{
    ViewBag.Title = "Product";
}
@section Scripts{
    <style>
        .fx-removeButton {
            position: absolute;
            margin-top: 15px;
        }
        ul li {
            display:inline-block;

        }
        li:hover {
            border: solid;
            
        }
        li {
            cursor: pointer;
        }
        .fx-list-style {
            margin-right: 10px;
            border: 1px solid;
            padding: 5px;
        }
        .fx-active-select{
            border:solid;
        }
    </style>
    <script src="~/CustomJs/Product.js"></script>
}

<!-- END THEME PANEL -->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Product</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>

<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    GkTies Product
    <small><a class="btn btn-primary btn-sm" onclick="CreateProudct()"> Create New Product </a></small>
</h1>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-comments"></i>Product List
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
            @*   <a href="javascript:;" class="remove" data-original-title="" title=""> </a>*@
        </div>
    </div>
    <div class="portlet-body" style="">
        <div id="loadProductTable"></div>
    </div>
</div>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<!-- /.modal -->
<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">GkTies Product</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveNewProduct", "Product", FormMethod.Post, new { Id = "myfrom", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(x => x.CategoryId)
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })*@
                            <select id="drpcategory" class="form-control"></select>
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ItemCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ItemCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ItemCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.WIdth, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.WIdth)
                            <ul class="width">
                                <li id="Normal" onclick="selectWidth('Normal')" class="fx-list-style">Normal</li>
                                <li id="Skinny" onclick="selectWidth('Skinny')" class="fx-list-style">Skinny</li>

                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Color, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.Color)
                            @*@Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })*@
                            <ul class="color">
                                <li id="beige" onclick="SelectColor('beige')">
                                    <img src="~/assets/color/colour-beige.webp" />
                                </li>
                                <li id="black" onclick="SelectColor('black')">
                                    <img src="~/assets/color/colour-black.webp" />
                                </li>
                                <li id="blue" onclick="SelectColor('blue')">
                                    <img src="~/assets/color/colour-blue.webp" />
                                </li>
                                <li id="brown" onclick="SelectColor('brown')">
                                    <img src="~/assets/color/colour-brown.webp" />
                                </li>
                                <li id="gold" onclick="SelectColor('gold')">
                                    <img src="~/assets/color/colour-gold.webp" />
                                </li>
                                <li id="green" onclick="SelectColor('green')">
                                    <img src="~/assets/color/colour-green.webp" />
                                </li>
                                <li id="grey" onclick="SelectColor('grey')">
                                    <img src="~/assets/color/colour-grey.webp" />
                                </li>
                                <li id="lilac" onclick="SelectColor('lilac')">
                                    <img src="~/assets/color/colour-lilac.webp" />
                                </li>
                                <li id="multi-coloured" onclick="SelectColor('multi-coloured')">
                                    <img src="~/assets/color/colour-multi-coloured.webp" />
                                </li>
                                <li id="navy" onclick="SelectColor('navy')">
                                    <img src="~/assets/color/colour-navy.webp" />
                                </li>
                                <li id="orange" onclick="SelectColor('orange')">
                                    <img src="~/assets/color/colour-orange.webp" />
                                </li>
                                <li id="pink" onclick="SelectColor('pink')">
                                    <img src="~/assets/color/colour-pink.webp" />
                                </li>
                                <li id="purple" onclick="SelectColor('purple')">
                                    <img src="~/assets/color/colour-purple.webp" />
                                </li>
                                <li id="red" onclick="SelectColor('red')">
                                    <img src="~/assets/color/colour-red.webp" />
                                </li>
                                <li id="silver" onclick="SelectColor('silver')">
                                    <img src="~/assets/color/colour-silver.webp" />
                                </li>
                                <li id="turquoise" onclick="SelectColor('turquoise')">
                                    <img src="~/assets/color/colour-turquoise.webp" />
                                </li>
                                <li id="white" onclick="SelectColor('white')">
                                    <img src="~/assets/color/colour-white.webp" />
                                </li>
                                <li id="wine" onclick="SelectColor('wine')">
                                    <img src="~/assets/color/colour-wine.webp" />
                                </li>
                                <li id="yellow" onclick="SelectColor('yellow')">
                                    <img src="~/assets/color/colour-yellow.webp" />
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Style, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.Style)
                            <ul class="style">
                                <li id="Business" onclick="selectStyle('Business')" class="fx-list-style">Business</li>
                                <li id="Classic" onclick="selectStyle('Classic')" class="fx-list-style">Classic</li>
                                <li id="Luxury" onclick="selectStyle('Luxury')" class="fx-list-style">Luxury</li>
                                <li id="Wedding" onclick="selectStyle('Wedding')" class="fx-list-style">Wedding</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pattern, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.Pattern)
                            <ul class="pattern">
                                <li id="Floral" onclick="selectPattern('Floral')" class="fx-list-style">Floral</li>
                                <li id="Other" onclick="selectPattern('Other')" class="fx-list-style">Other</li>
                                <li id="Paisley" onclick="selectPattern('Paisley')" class="fx-list-style">Paisley</li>
                                <li id="Plain" onclick="selectPattern('Plain')" class="fx-list-style">Plain</li>
                                <li id="PolkaDot" onclick="selectPattern('PolkaDot')" class="fx-list-style">Polka Dot</li>
                                <li id="Striped" onclick="selectPattern('Striped')" class="fx-list-style">Striped</li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Material, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.Material)
                            <ul class="matrial">
                                <li id="Polyester" onclick="selectMatrial('Polyester')" class="fx-list-style">Polyester</li>
                                <li id="Silk" onclick="selectMatrial('Silk')" class="fx-list-style">Silk</li>
                                <li id="Wool" onclick="selectMatrial('Wool')" class="fx-list-style">Wool</li>

                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Option, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.HiddenFor(x => x.Option)
                            <ul class="option">
                                <li id="Multibuy" onclick="selectOption('Multibuy')" class="fx-list-style">Multibuy</li>
                                <li id="MostPopular" onclick="selectOption('MostPopular')" class="fx-list-style">Most Popular</li>
                                <li id="New" onclick="selectOption('New')" class="fx-list-style">New Arrival</li>

                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label(" Image", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.HiddenFor(x => x.Images)
                        <div class="col-md-10">
                            <div class="row">
                                <div id="imagesFile"></div>
                            </div>


                            @*<pre style="width:200px;">220 X 220 Pixels</pre>*@

                            <input type="file" multiple="true" accept="image/*" class="clear" onchange="showMyImage(this)" id="ImgUpload" />
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Quentity">Quantity</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Quentity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quentity, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" id="btnForm" onclick="RegisterNewProduct()" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                @*  <button type="button" class="btn green">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<input type="hidden" id="hidurlOfCategory" value="@Url.Action("_LoadProduct","Product")" />
<input type="hidden" id="hidurlDeleteCategory" value="@Url.Action("DeleteProduct","Product")" />
<input type="hidden" id="hidurlLoadCategory" value="@Url.Action("LoadCategory","Product")" />
<input type="hidden" id="hidurlImageUpload" value="@Url.Action("Upload","Product")" />