﻿@model IEnumerable<Database.tbl_gk_Product>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fld_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Brands)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Quentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_CreateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_UpdateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_gk_Category.fld_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Tags)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Brands)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Images)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Quentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_CreateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_UpdateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_gk_Category.fld_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
