﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>GK Ties | @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="GKTIES" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/dropzone/dropzone.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/dropzone/basic.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/jquery-notific8/jquery.notific8.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/layouts/layout/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/loaderStyle.css" rel="stylesheet" />
    <link href="~/Content/custome.css" rel="stylesheet" />
    <link href="https://cdn.quilljs.com/1.2.3/quill.snow.css" rel="stylesheet">

    <link rel="stylesheet" href="~/submodulesMap/squares/css/squares.css" />
    <link rel="stylesheet" href="~/submodulesMap/squares/css/squares-editor.css" />
    <link rel="stylesheet" href="~/submodulesMap/squares/css/squares-controls.css" />
    <link rel="stylesheet" href="~/submodulesMap/wcp-editor/css/wcp-editor.css" />
    <link rel="stylesheet" href="~/submodulesMap/wcp-editor/css/wcp-editor-controls.css" />
    <link rel="stylesheet" href="~/submodulesMap/wcp-tour/css/wcp-tour.css" />
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/assets/dist/jquery.toast.min.css" rel="stylesheet" />
    <!-- Image Map Pro Editor -->
    <link rel="stylesheet" href="~/cssMap/image-map-pro-editor.css" />
    <!-- Image Map Pro Plugin -->
    <link href="~/cssMap/image-map-pro.min.css" rel="stylesheet" />
    <style>
        .page-header.navbar .page-logo .logo-default {
            margin: 1px 0 0;
        }
    </style>
    @RenderSection("styles", false)
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-wrapper">
        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner ">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a href="index.html">
                        <img src="~/Images/Logo.png" alt="logo" class="logo-default" style="height: 45px;" />
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
                        <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                        <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!-- END INBOX DROPDOWN -->
                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle" src="~/assets/layouts/layout/img/avatar3_small.jpg" />
                                <span class="username username-hide-on-mobile">

                                    @if (Session["AdminLogi"] != null)
                                    {
                                        var email = Session["AdminLogi"].ToString();
                                        <label>@email</label>
                                    }

                                </span>

                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">

                                <li>
                                    <a href="@Url.Action("Logout","Admin")" id="logoutbutton" class="logoutclass">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>



                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN SIDEBAR -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN SIDEBAR MENU -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                        <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                        <li class="sidebar-search-wrapper">

                        </li>

                        <li id="liDashboard" class="nav-item start active open">
                            <a href="@Url.Action("Index", "Home")" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">Dashboard</span>
                                <span class="selected"></span>
                                <span class="arrow open"></span>
                            </a>

                        </li>
                        <li id="liagentsetup" class="nav-item">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="fa fa-area-chart"></i>
                                <span class="title">Shopping Item</span>
                                <span class="selected"></span>
                                <span id="agentsetupspan" class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li id="liagnetsabmenue" class="nav-item">
                                    <a href="@Url.Action("Index", "Category")" class="nav-link nav-toggle">
                                        <i class="icon-settings"></i>
                                        <span class="title">Category</span>
                                        <span class="selected"></span>
                                        @*<span class="arrow open"></span>*@
                                    </a>
                                </li>
                                <li id="liagenregisterfrom" class="nav-item">
                                    <a href="@Url.Action("Index", "Product")" class="nav-link nav-toggle">
                                        <i class="icon-settings"></i>
                                        <span class="title">Products</span>
                                        <span class="selected"></span>
                                        @*<span class="arrow open"></span>*@
                                    </a>
                                </li>
                                <li id="liagenregisterfrom" class="nav-item">
                                    <a href="@Url.Action("Index", "Delivery")" class="nav-link nav-toggle">
                                        <i class="icon-settings"></i>
                                        <span class="title">Delivery Option</span>
                                        <span class="selected"></span>
                                        @*<span class="arrow open"></span>*@
                                    </a>
                                </li>
                                <li id="liagenregisterfrom" class="nav-item">
                                    <a href="@Url.Action("Index", "Wishlist")" class="nav-link nav-toggle">
                                        <i class="icon-settings"></i>
                                        <span class="title">Wishlist</span>
                                        <span class="selected"></span>
                                        @*<span class="arrow open"></span>*@
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li id="litransfertab" class="nav-item">
                            <a href="@Url.Action("Index", "Customer")" class="nav-link nav-toggle">
                                <i class="fa fa-exchange"></i>
                                <span class="title">Customer</span>
                                <span class="selected"></span>
                                <span id="spantransfer" class="arrow open"></span>
                            </a>

                        </li>

                        @*<li id="libookingtab" class="nav-item">
                                <a href="@Url.Action("BookingRegistrationForm", "Booking")" class="nav-link nav-toggle">
                                    <i class="fa fa-briefcase"></i>
                                    <span class="title">Product Booked</span>
                                    <span class="selected"></span>
                                    <span id="spanbooking" class="arrow open"></span>
                                </a>

                            </li>*@

                        <li id="lidetailsss" class="nav-item">
                            <a href="@Url.Action("Index", "Slider")" class="nav-link nav-toggle">
                                <i class="fa fa-map-o"></i>
                                <span class="title">Slider</span>
                                <span class="selected"></span>
                                <span id="spandetailsdfild" class="arrow open"></span>
                            </a>

                        </li>


                        <li id="lischeduler" class="nav-item">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="fa fa-calendar"></i>
                                <span class="title">Custom Front End</span>
                                <span class="selected"></span>
                                <span id="schedulespan" class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                @*<li id="schedulplaninstal" class="nav-item start">
                                        <a href="@Url.Action("InstallmentPlan", "Schedule")" class="nav-link ">
                                            <i class="fa fa-calendar-check-o"></i>
                                            <span class="title">Installment Plan</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>*@
                                <li id="schedullist" class="nav-item start">
                                    <a href="@Url.Action("Index", "SocialMediaLinks")" class="nav-link ">
                                        <i class="icon-settings"></i>
                                        <span class="title">Social media links</span>

                                    </a>
                                </li>
                                <li id="schedullist" class="nav-item start">
                                    <a href="@Url.Action("Index", "ParentMenu")" class="nav-link ">
                                        <i class="icon-settings"></i>
                                        <span class="title">Main Menu</span>

                                    </a>
                                </li>
                                <li id="schedullist" class="nav-item start">
                                    <a href="@Url.Action("Index", "SubMenu")" class="nav-link ">
                                        <i class="icon-settings"></i>
                                        <span class="title">Sub Menu</span>

                                    </a>
                                </li>
                                <li id="schedullist" class="nav-item start">
                                    <a href="@Url.Action("Index", "PageSection")" class="nav-link ">
                                        <i class="icon-settings"></i>
                                        <span class="title">Page Section</span>

                                    </a>
                                </li>
                                <li id="schedullist" class="nav-item start">
                                    <a href="@Url.Action("Index", "ColorScheme")" class="nav-link ">
                                        <i class="icon-settings"></i>
                                        <span class="title">Site Color Scheme</span>

                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li id="lilandlord" class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="fa fa-area-chart"></i>
                                    <span class="title">LandLords</span>
                                    <span class="selected"></span>
                                    <span id="landlordspan" class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="landlordrecordli" class="nav-item start">
                                        <a href="@Url.Action("Index", "LandLord")" class="nav-link ">
                                            <i class="fa fa-calendar-check-o"></i>
                                            <span class="title">Add LandLords</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>
                                    <li id="landlordpropertid" class="nav-item start">
                                        <a href="@Url.Action("PropertyRecord", "LandLord")" class="nav-link ">
                                            <i class="fa fa-calendar-check-o"></i>
                                            <span class="title">LandLord Property</span>
                                            <span class="selected"></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>*@





                        <li id="lisystemgeneralsetting" class="nav-item">
                            <a href="#" class="nav-link nav-toggle">
                                <i class="fa fa-wrench"></i>
                                <span class="title">General</span>
                                <span class="selected"></span>
                                <span id="gneralsettingspan" class="arrow open"></span>
                            </a>
                            <ul class="sub-menu">
                                <li id="limarlaformlimituse" class="nav-item">
                                    <a href="@Url.Action("Index","MailSubscriber")" class="nav-link nav-toggle">
                                        <i class="socicon-mail"></i>
                                        <span class="title">Mail Subscriber</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        @*<li id="liplotmapingnavigation" class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="fa fa-line-chart"></i>
                                    <span class="title">Plot Mapping</span>
                                    <span class="selected"></span>
                                    <span id="plotmapingspan" class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="likanlinsert" class="nav-item">
                                        <a href="@Url.Action("Kanal","PlotMapping")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Society</span>
                                        </a>
                                    </li>
                                    <li id="likanalview" class="nav-item">
                                        <a href="@Url.Action("ViewKanal","PlotMapping")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Society Map</span>
                                        </a>
                                    </li>
                                    <li id="listviewsection" class="nav-item">
                                        <a href="@Url.Action("ViewProperty","PlotMapping")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Block</span>
                                        </a>
                                    </li>
                                    <li id="listplotdetais" class="nav-item">
                                        <a href="@Url.Action("Plots","PlotMapping")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Plot Detials</span>
                                        </a>
                                    </li>
                                    <li id="listpropertymap" class="nav-item">
                                        <a href="@Url.Action("Map","PlotMapping")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Map</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>*@

                        @*<li id="libinalamaccounts" class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="fa fa-university"></i>
                                    <span class="title">Financial </span>
                                    <span class="selected"></span>
                                    <span id="accountsspan" class="arrow open"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="lisystemnewaccounts" class="nav-item">
                                        <a href="@Url.Action("AccountConfiger", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title"> Accounts</span>
                                        </a>
                                    </li>
                                    <li id="lisystemaccount" class="nav-item">
                                        <a href="@Url.Action("Accounts", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Receipt</span>
                                        </a>
                                    </li>

                                    <li id="lisystmepayemntaccount" class="nav-item">
                                        <a href="@Url.Action("Payment", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Property Receipts</span>
                                        </a>
                                    </li>
                                    <li id="lisystemaccountmange" class="nav-item">
                                        <a href="@Url.Action("AccountDetails", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Property Transaction</span>
                                        </a>
                                    </li>
                                    <li id="lisystemledgeraccount" class="nav-item">
                                        <a href="@Url.Action("LedgerAccount", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Property Ledger</span>
                                        </a>
                                    </li>
                                    <li id="ligeneralaccounts" class="nav-item">
                                        <a href="@Url.Action("GeneralAccount", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Journal Entry</span>
                                        </a>
                                    </li>
                                    <li id="lijournaltransaction" class="nav-item">
                                        <a href="@Url.Action("JournalTransaction", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">General   Transaction</span>
                                        </a>
                                    </li>
                                    <li id="lijournalledger" class="nav-item">
                                        <a href="@Url.Action("JournalLedger", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">General Ledger</span>
                                        </a>
                                    </li>

                                    <li id="listvoucehertype" class="nav-item">
                                        <a href="@Url.Action("Vouchers", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Vouchers</span>
                                        </a>
                                    </li>
                                    <li id="livoucherpaymetnt" class="nav-item">
                                        <a href="@Url.Action("VoucherPayment", "SystemAccounts")" class="nav-link nav-toggle">
                                            <i class="icon-settings"></i>
                                            <span class="title">Voucher History</span>
                                        </a>
                                    </li>

                                </ul>
                            </li>

                            <li id="lireports" class="nav-item start">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="fa fa-book"></i>
                                    <span class="title">Reports</span>
                                    <span class="selected"></span>
                                    <span class="arrow open"></span>
                                </a>

                            </li>*@

                    </ul>
                    <!-- END SIDEBAR MENU -->
                    <!-- END SIDEBAR MENU -->
                </div>
                <!-- END SIDEBAR -->
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    @RenderBody()
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>

            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner">
                @DateTime.Now.Year &copy; Bin Alam City

            </div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
    </div>
    <!-- BEGIN QUICK NAV -->

    <div class="quick-nav-overlay"></div>

    <!-- END QUICK NAV -->
    <!--[if lt IE 9]>
    <script src="~/assets/global/plugins/respond.min.js"></script>
    <script src="~/assets/global/plugins/excanvas.min.js"></script>
    <script src="~/assets/global/plugins/ie8.fix.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery_excel.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $("#exportExcel").click(function () {
                $("#tableSubs").table2excel({
                    filename: "Mail_Subscribers.xls"
                });
            });
        });
    </script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/moment.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/morris/morris.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/morris/raphael-min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/horizontal-timeline/horizontal-timeline.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/dropzone/dropzone.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/select2/js/select2.js"></script>
    <script src="~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery-notific8/jquery.notific8.min.js" type="text/javascript"></script>

    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>

    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/pages/scripts/dashboard.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/table-datatables-buttons.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/form-dropzone.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/assets/layouts/layout/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/layout/scripts/demo.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="~/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <script src="~/Scripts/common.js"></script>
    <script src="~/Content/sweetalert2.min.js"></script>
    <script src="~/assets/dist/jquery.toast.min.js"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    @RenderSection("scripts", required: false)
</body>
</html>