﻿@model IEnumerable<Database.tbl_Slider>

<table id="tblSlider" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Priorty
            </th>
            <th>
                Image
            </th>
            <th>
                Status
            </th>
            <th>
                CreateAt
            </th>
            <th>
                UpdateAt
            </th>
            <th></th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priroty)
            </td>
            <td>
                <img style="width:100px;height:100px" src="~/Images/Slider/@item.Image" />
            </td>
            <td>
                @if (item.Status == true)
                {
                    <button class="btn btn-success" onclick="UpdateStatus(@item.Id)">Active <i class="fa fa-check"></i></button>
                }
                else
                {

                    <button class="btn btn-danger" onclick="UpdateStatus(@item.Id)">Block <i class="fa fa-times"></i></button>

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                <input type="button" value="Update Slider" class="btn btn-primary btn-sm" onclick="UpdateSlider('@item.Id','@item.Title','@item.Priroty','@item.Image','@item.Status')" />
                <input type="button" value="Delete Slider" class="btn btn-danger btn-sm" onclick="DeleteSlider('@item.Id')" />

            </td>
        </tr>
    </tbody>
}

</table>
