﻿@model GkTiesBackend.ViewModels.SliderViewModel


@{
    ViewBag.Title = "Index";
}
@section Scripts{
    <script src="~/CustomJs/slider.js"></script>
}

<!-- END THEME PANEL -->
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="index.html">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Slider</span>
        </li>
    </ul>
    <div class="page-toolbar">
        <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
            <i class="icon-calendar"></i>&nbsp;
            <span class="thin uppercase hidden-xs"></span>&nbsp;
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>

<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    GkTies Slider
    <small><a class="btn btn-primary btn-sm" onclick="CreateSlider()"> Create New Slider </a></small>
</h1>


<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-comments"></i>Slider List
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
            @*   <a href="javascript:;" class="remove" data-original-title="" title=""> </a>*@
        </div>
    </div>
    <div class="portlet-body" style="">
        <div id="loadSliderTable"></div>
    </div>
</div>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<!-- /.modal -->
<div class="modal fade bs-modal-lg" id="large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">GkTies Slider</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SaveNewSlider", "Slider", FormMethod.Post, new { Id = "myfrom", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @*<h4>CategoryViewModal</h4>*@
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="Preiorty">Priority</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Preiorty, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Preiorty, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label(" Image", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.HiddenFor(x => x.Image)
                            <div class="col-md-10">
                                <img id="thumbnil" class="img-thumbnail clear form-control" style="width:200px; height:200px; margin-top:10px;" src="" alt="Dimensions (220 X 220) pixels" />
<pre style="width:200px;">220 X 220 Pixels</pre>
                                <input type="file" accept="image/*" class="clear" onchange="showMyImage(this)" id="ImgUpload" />
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input id="btnForm" type="button" value="Create" onclick="RegisterNewSlider()" class="btn green" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                @*  <button type="button" class="btn green">Save changes</button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<input type="hidden" id="hidurlOfSlider" value="@Url.Action("_LoadSlider","Slider")" />
<input type="hidden" id="hidurlDeleteSlider" value="@Url.Action("DeleteSlider","Slider")" />
<input type="hidden" id="hidurlImageUpload" value="@Url.Action("Upload","Slider")" />
<input type="hidden" id="hidurlChangeSlider" value="@Url.Action("UpdateSlider","Slider")" />