﻿@model IEnumerable<Database.tbl_gk_User>
@{
    var status = "true";
}
<table id="tblProduct" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Provider
            </th>
            <th>
                Phone
            </th>
            <th>
                Password
            </th>
            <th>
                Image
            </th>
            <th>
                Create At
            </th>
            <th>
                Update At
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Lname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Email)
                </td>
                <td>
                    @if (item.fld_LoginType != "")
                    {
                        @Html.DisplayFor(modelItem => item.fld_LoginType)
                    }
                    else
                    {
                        <label>Website</label>

                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Password)
                </td>
                <td>
                    @if (item.fld_Pic != "")
                    {
                        <img src="@Url.Content("Images/Product/" +  item.fld_Pic)" width="100" height="100" />
                    }
                    else
                    {
                        <img src="@Url.Content("Images/Product/" +  item.fld_Pic)" width="100" height="100" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_CreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_UpdateAt)
                </td>
                <td>
                    @if (item.fld_Status == true)
                    {
                        status = "true";
                        <label style="color:forestgreen">Active</label>
                    }
                    else
                    {
                        status = "false";
                        <label style="color:red">Block</label>
                    }
                </td>
                <td>
                    <input type="button" value="Update Customer" class="btn btn-primary btn-sm" onclick="UpdateCustomer('@item.Id','@item.fld_Fname','@item.fld_Lname','@item.fld_Email','@item.fld_Phone','@item.fld_Password','@status','@item.fld_Pic')" />
                    <input type="button" value="Delete Customer" class="btn btn-danger btn-sm" onclick="DeleteCustomer('@item.Id')" />
                </td>
            </tr>
        </tbody>
    }

</table>
