﻿@model IEnumerable<Database.tbl_gk_Category>

<table id="tblCategory" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th>
                CreateAt
            </th>
            <th>
                UpdateAt
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_Description)
                </td>
                <td>
                    <img style="width:100px;height:100px" src="~/Images/Category/@item.fld_Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_CreateAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fld_UpdateAt)
                </td>
                <td>
                    <input type="button" value="Update Category" class="btn btn-primary btn-sm" onclick="UpdateCategory('@item.Id','@item.fld_Name','@item.fld_Description','@item.fld_Image')" />
                    <input type="button" value="Delete Category" class="btn btn-danger btn-sm" onclick="DeleteCategory('@item.Id')" />

                </td>
            </tr>
        </tbody>
    }

</table>
