﻿@model Database.tbl_gk_WishList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_gk_WishList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fld_CreateAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_CreateAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_Quntity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Quntity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_gk_Product.fld_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_gk_Product.fld_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_gk_User.fld_Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_gk_User.fld_Fname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
