﻿@model IEnumerable<Database.tbl_gk_WishList>

@{
    ViewBag.Title = "Index";
}

<h2>WishList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fld_CreateAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Quntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_gk_Product.fld_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_gk_User.fld_Fname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fld_CreateAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Quntity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_gk_Product.fld_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_gk_User.fld_Fname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
