﻿@model IEnumerable<Database.tbl_ColorScheme>

@{
    ViewBag.Title = "Index";
}

<h2>Color Scheme</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <td>Color Look</td>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @if (item.Active == true)
                {
                    <a class="btn btn-success" href="@Url.Action("ChangeTheme", "ColorScheme", new { id = item.Id })">Current Selected</a>


                }
                else
                {
                    <a class="btn btn-warning" href="@Url.Action("ChangeTheme", "ColorScheme", new { id = item.Id })">Change</a>

                }
            </td>
            @if (item.Color == "blue")
            {
                <td style="height:30px;width:30px;background:#3498db"></td>
            }
            @if (item.Color == "green")
            {
                <td style="height:30px;width:30px;background:#77be32"></td>
            }
            @if (item.Color == "light blue")
            {
                <td style="height:30px;width:30px;background:#34aadc"></td>
            }
            @if (item.Color == "light green")
            {
                <td style="height:30px;width:30px;background:#4cd964"></td>
            }
            @if (item.Color == "orange")
            {
                <td style="height:30px;width:30px;background:#ec5540"></td>
            }
            @if (item.Color == "purple")
            {
                <td style="height:30px;width:30px;background:#8e44ad"></td>
            }
            @if (item.Color == "red")
            {
                <td style="height:30px;width:30px;background:#ff3b30"></td>
            }
            @if (item.Color == "tael")
            {
                <td style="height:30px;width:30px;background:#1abc9c"></td>
            }
            @if (item.Color == "violet")
            {
                <td style="height:30px;width:30px;background:#865185"></td>
            }
            @if (item.Color == "yellow")
            {
                <td style="height:30px;width:30px;background:#f7c221"></td>
            }

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>*@
        </tr>
    }

</table>
